@mixin respond-to($media) {
  @if $media == md {
    @media only screen and (min-width: 900px) { @content; }
  }
}

@mixin responseImg($width, $height){
  position: relative;
  width: 100%;
  padding-top: calc(#{$height}/#{$width} * 100%);

  & img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}