.thumb {
  margin-bottom: $max-offset;
  padding: $thumb-border;

  @include respond-to(md){
    &-image{
      transform: scale(1);
      transition: transform 0.2s linear;
    }
    
    &:hover &-image{
      transform: scale(0.98);
      transition: transform 0.2s linear;
    }
  }

  &-title{
    padding: 0.1em;
    text-wrap: none;
    line-height: 1.5em;
    max-height: 1.5em;
    overflow: hidden;
  }

  &-type1{
    background-color: $thumb-type1;
  }
  &-type2{
    background-color: $thumb-type2;
  }
  &-type3{
    background-color: $thumb-type3;
  }
  &-type4{
    background-color: $thumb-type4;
  }
}

