$blue:   #2A74BF;
$red:    #D7514C;
$green:  #4D944B;
$orange: #D8C11D;
$grey:   #666;
$white:  #fff;

$thumb-type1: $red;
$thumb-type2: $blue;
$thumb-type3: $orange;
$thumb-type4: $green;

$header-color:      $blue;
$header-line-color: $header-color;

$nav-link-active: $blue;

$thumb-border: 1px;

$min-offset:     0.5em;
$middle-offset:  $min-offset * 2;
$max-offset:     $min-offset * 3;