$body-font: normal 15px/20px Georgia, "Times New Roman", Times, serif;

$color-dark-0: #660;
$color-dark-1: #677f03;
$color-dark-2: #669b03;
$color-light-0: #95a44f;
$color-light-1: #fdce10;
$color-light-2: #fff;

$body-background: $color-dark-2;

$content-background: $color-dark-0;
$content-color: $color-light-2;

$header-color: $color-light-1;
$header-h2-style: normal;
$header-h2-weight: 500;

$links-color: $color-light-1;

$img-padding: 10px;
$img-margin: 0.3em 0 1em 0;
$img-border: 1px solid $color-light-2;

$brief-block: $color-dark-1;
$brief-width: 100%;
$brief-padding: 1.2em;

$table-width: 100%;
$table-header: $color-light-0;
$table-header-border: none;
$table-background: $color-dark-1;


