*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    user-select: none;
}

.container{
    padding: 1em 2em;
}

.game-container{
    position: relative;
    max-width: 320px;
    left: 50%;
    transform: translateX(-50%);
}

.main-box{
    margin: 2em 0 ;
    border-radius: 0.5em;
    position: relative;
}

ul{
    list-style: none;
}

li[data-btn]{
    cursor: pointer;
    width: 100%;
    margin: 1em 0;
    border-radius: 0.5em;
    text-align: center;
    border: 2px solid #51e3c2;
    color: cyan;
    padding: 1.2em 1em;
    font-size: 1.2em;
    font-weight: bold;
}

li[data-btn]:hover:not(.active), li[data-btn].active{
    color: #4b4b4b;
    background-color: #51e3c2;;
}

.figure-box{
    border-radius: 0.25em;
    border: 2px solid rgba(0,0,0,0);
    background-color: #4b91e2;
    color: #fff;

    text-align: center;
    white-space: nowrap;
    position: absolute;
    font-size: 50px;
    line-height: 70px;
    z-index: 2;
}

.figure-box-background{
    border-radius: 0.5em;
    border: 2px solid rgba(0,0,0,0);
    background-color: #ededed;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.figure-box.animation{
    box-shadow: 0 0 50px 1px rgba(0,0,0,0.3);
    border-color:rgba(0,0,0,0.5);
}

.figure-box:not(.animation):hover{
    cursor: pointer;
}

header{
    color: #b3b3b3;
    font-size: 1.2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.time,.steps{
    color: #818181;
    font-size: 2.2em;
}

.time:before, .steps:before{
    content: ' ';
    background-size: 100%;
    display: inline-block;
    position: relative;
    top:5px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.time:before{
    background-image: url('../images/time.svg');
}

.steps:before{
    background-image: url('../images/steps.svg');
}
